<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937048571710-95fue2jjpif04jmehcdgfph3go627e1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937048571710-95fue2jjpif04jmehcdgfph3go627e1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDJVts_i8m-xkFMjVwYuvHIEGH2HqrV_rM</string>
	<key>GCM_SENDER_ID</key>
	<string>937048571710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.esthetician</string>
	<key>PROJECT_ID</key>
	<string>esthetician-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>esthetician-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937048571710:ios:1bc478524598be6c00366f</string>
</dict>
</plist>